body {
  padding:50px;
  text-align: center;
}


.table_blue{
  display: inline-block;
  border: solid 1px black;
  padding: 50px;
  margin: 0 10px 0 10px;
  cursor: pointer;
  text-align: center;
  background-color: blue;
}


.table_red{
  display: inline-block;
  border: solid 1px black;
  padding: 50px;
  margin: 0 10px 0 10px;
  cursor: pointer;
  text-align: center;
  background-color: red;
}